CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
COOKIE_SAME_SITE=YOUR_COOKIE_SAME_SITE
COOKIE_SECURE=YOUR_COOKIE_SECURE
JWT_ACCESS_EXPIRATION=YOUR_JWT_ACCESS_EXPIRATION
JWT_ISSUER=YOUR_JWT_ISSUER
JWT_REFRESH_EXPIRATION=YOUR_JWT_REFRESH_EXPIRATION
JWT_SECRET=YOUR_JWT_SECRET
MAIL_PASSWORD=YOUR_MAIL_PASSWORD
MAIL_USERNAME=YOUR_MAIL_USERNAME
MONITORING_PASSWORD=YOUR_MONITORING_PASSWORD
MONITORING_USERNAME=YOUR_MONITORING_USERNAME
PG_PASSWORD=YOUR_PG_PASSWORD
PG_URL=YOUR_PG_URL
PG_USER=YOUR_PG_USER
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET
RAZORPAY_WEBHOOK_SECRET=YOUR_RAZORPAY_WEBHOOK_SECRET
UPSTASH_REDIS_URL=YOUR_UPSTASH_REDIS_URL